<div class="container mx-auto p-6 bg-[#F1F5F9] rounded-lg space-y-8">
    <section class="bg-white p-6 rounded-lg shadow-md">
      <app-animal-list></app-animal-list>
    </section>
  
    <section class="bg-white p-6 rounded-lg shadow-md">
      <app-animal-form></app-animal-form>
    </section>
  
    <section class="bg-white p-6 rounded-lg shadow-md">
      <app-corral-form></app-corral-form>
    </section>
  
    <section class="bg-white p-6 rounded-lg shadow-md">
      <app-restriccion-form></app-restriccion-form>
    </section>
  
    <section class="bg-white p-6 rounded-lg shadow-md">
      <app-animal-resumen></app-animal-resumen>
    </section>
  
    <section class="bg-white p-6 rounded-lg shadow-md">
      <app-corral-select></app-corral-select>
    </section>
  </div>
  